.gradle
/local.properties
/sign.properties
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/misc.xml
/.idea/runConfigurations.xml
/.idea/gradle.xml
.DS_Store
/build
/captures
.navigation
.directory
*.iml
