language: android

android:
  components:
      - platform-tools
      - tools
      - build-tools-24.0.1
      - android-24
      - extra-android-m2repository
jdk:
  - oraclejdk8
script:
   - ./gradlew build connectedCheck