<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.nv95.openmanga">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:fullBackupContent="false"
        android:supportsRtl="true"
        android:name=".OpenMangaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowClearUserData="true"
        android:usesCleartextTraffic="true"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".feature.main.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.preview.PreviewActivity2" >
            <intent-filter>
                <action android:name="org.nv95.openmanga.action.PREVIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.search.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/search_results" />
        <activity
            android:name=".feature.read.ReadActivity2" />
        <activity
            android:label="@string/action_settings"
            android:name=".feature.settings.provider.activity.ProviderPreferencesActivity" />
        <activity
            android:name=".feature.download.DownloadsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/downloads_queue"
            android:launchMode="singleInstance" />
        <activity
            android:name=".feature.newchapter.NewChaptersActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/manga_updates" />
        <activity
            android:name=".feature.settings.main.SettingsActivity2"
            android:label="@string/action_settings" />
        <activity
            android:name=".feature.welcome.WelcomeActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/welcome" />
        <activity
            android:name=".feature.about.AboutActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/about" />
        <activity
            android:name=".feature.fileselect.FileSelectActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/select_file" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <service android:name=".services.UpdateService" android:exported="false" />
        <service android:name=".services.ImportService" />
        <service android:name=".services.SyncService" />
        <service android:name=".services.ExportService" />
        <service android:name=".feature.download.service.SaveService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>
