<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.nv95.openmanga">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />


	<application
		android:name=".OpenMangaApp"
		android:allowBackup="true"
		android:allowClearUserData="true"
		android:fullBackupContent="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:installLocation="internalOnly"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/app_name"
			android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity
			android:name=".sync.ui.SyncAuthActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/sync"
			android:windowSoftInputMode="adjustResize" />

		<activity
			android:name=".preview.PreviewActivity"
			android:configChanges="orientation|screenSize" />

		<activity
			android:name=".mangalist.MangaListActivity"
			android:configChanges="screenSize|orientation" />

		<activity
			android:name=".mangalist.history.HistoryActivity"
			android:label="@string/action_history"
			android:configChanges="screenSize|orientation" />

		<activity
			android:name=".mangalist.favourites.FavouritesActivity"
			android:label="@string/action_favourites"
			android:configChanges="screenSize|orientation" />

		<activity
			android:name=".mangalist.favourites.CategoriesActivity"
			android:label="@string/favourites_categories"
			android:configChanges="screenSize|orientation" />

		<activity android:name=".storage.SavedMangaActivity"
			android:label="@string/saved_manga"
			android:configChanges="screenSize|orientation" />

		<activity
			android:name=".search.SearchActivity"
			android:configChanges="screenSize|orientation"
			android:label="@string/action_search">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
			<meta-data
				android:name="android.app.searchable"
				android:resource="@xml/searchable" />
		</activity>

		<activity
			android:name=".sync.ui.DevicesListActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/attached_devices">

			<intent-filter>
				<action android:name="org.nv95.openmanga.sync.DEVICES" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".reader.ReaderActivity"
			android:configChanges="orientation|screenSize" >

			<intent-filter>
				<action android:name="org.nv95.openmanga.ACTION_READING_CONTINUE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".settings.SettingsActivity"
			android:label="@string/action_settings" >

			<intent-filter>
				<action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".settings.providers.ProvidersSettingsActivity"
			android:label="@string/manga_catalogues"
			android:configChanges="orientation|screenSize" />

		<provider android:name=".search.SearchSuggestionsProvider"
			android:authorities="org.nv95.openmanga.SEARCH_SUGGEST" />

		<service android:name=".sync.AccountService">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
		</service>

		<provider
			android:name=".sync.FavouritesContentProvider"
			android:authorities="org.nv95.openmanga.favourites"
			android:exported="false"
			android:label="@string/_favourites"
			android:syncable="true" />

		<provider
			android:name=".sync.HistoryContentProvider"
			android:authorities="org.nv95.openmanga.history"
			android:exported="false"
			android:label="@string/_history"
			android:syncable="true" />

		<service
			android:name=".sync.FavouritesSyncService"
			android:exported="true"
			android:process=":sync">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/sync_favourites" />
		</service>

		<service
			android:name=".sync.HistorySyncService"
			android:exported="true"
			android:process=":sync">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/sync_history" />
		</service>

		<service
			android:name=".schedule.BackgroundJobService"
			android:exported="true"
			android:permission="android.permission.BIND_JOB_SERVICE" />

		<service
			android:name=".schedule.BackgroundService" />

		<service
			android:name=".storage.SaveService" />

		<receiver android:name=".schedule.JobSetupReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
				<action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
				<action android:name="android.intent.action.ACTION_BATTERY_LOW"/>
				<action android:name="android.intent.action.ACTION_BATTERY_OKAY"/>
			</intent-filter>
		</receiver>

	</application>

</manifest>
