<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.nv95.openmanga">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
	<uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />


	<application
		android:name=".OpenMangaApp"
		android:allowBackup="true"
		android:allowClearUserData="true"
		android:fullBackupContent="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<activity
			android:name=".ui.MainActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/app_name"
			android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".legacy.activities.PreviewActivity2">
			<intent-filter>
				<action android:name="org.nv95.openmanga.action.PREVIEW" />
			</intent-filter>
		</activity>
		<activity
			android:name=".legacy.activities.SearchActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/search_results" />
		<activity android:name=".legacy.activities.ReadActivity2" />
		<activity
			android:name=".legacy.activities.settings.ProviderPreferencesActivity"
			android:label="@string/action_settings" />
		<activity
			android:name=".legacy.activities.DownloadsActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/downloads_queue"
			android:launchMode="singleInstance" />
		<activity
			android:name=".legacy.activities.NewChaptersActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/manga_updates" />
		<activity
			android:name=".legacy.activities.settings.SettingsActivity2"
			android:label="@string/action_settings" />
		<activity
			android:name=".legacy.activities.WelcomeActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/welcome" />
		<activity
			android:name=".legacy.activities.AboutActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/about" />
		<activity
			android:name=".legacy.activities.FileSelectActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/select_file" />
		<activity android:name="com.soundcloud.android.crop.CropImageActivity" />

		<activity
			android:name=".sync.ui.SyncAuthActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/sync"
			android:windowSoftInputMode="adjustResize" />

		<activity android:name=".ui.PreviewActivity"
			android:configChanges="orientation|screenSize" />

		<activity android:name=".sync.ui.DevicesListActivity"
			android:configChanges="orientation|screenSize"
			android:label="@string/attached_devices">

			<intent-filter>
				<action android:name="org.nv95.openmanga.sync.DEVICES"/>
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<service android:name=".legacy.services.ScheduledService" />
		<service android:name=".legacy.services.UpdateService" />
		<service android:name=".legacy.services.ImportService" />
		<service android:name=".legacy.services.SyncService" />
		<service android:name=".legacy.services.ExportService" />
		<service android:name=".legacy.services.SaveService" />

		<service android:name=".sync.AccountService">
			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator" />
			</intent-filter>
			<meta-data
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator" />
		</service>

		<provider
			android:name=".sync.FavouritesContentProvider"
			android:authorities="org.nv95.openmanga.favourites"
			android:label="@string/_favourites"
			android:exported="false"
			android:syncable="true" />

		<provider
			android:name=".sync.HistoryContentProvider"
			android:authorities="org.nv95.openmanga.history"
			android:label="@string/_history"
			android:exported="false"
			android:syncable="true" />

		<service
			android:name=".sync.FavouritesSyncService"
			android:exported="true"
			android:process=":sync">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/sync_favourites" />
		</service>

		<service
			android:name=".sync.HistorySyncService"
			android:exported="true"
			android:process=":sync">
			<intent-filter>
				<action android:name="android.content.SyncAdapter" />
			</intent-filter>
			<meta-data
				android:name="android.content.SyncAdapter"
				android:resource="@xml/sync_history" />
		</service>

		<receiver
			android:name=".legacy.ScheduledServiceReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>

	</application>

</manifest>
